<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>

	<div class="container">

		<div class="page-header">
			<h1>PROYECTO 2 TERCIO</h1> 
		</div>
		<p th:text="'Bienvenido a Currency Conver'+ '!'" />
		<p class="lead">
			Para Comenzar por favor dirigase a la pestaña Converter
		</p>
		
	</div>

	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>